[submodule "/home/bavin/ws/git_repos/OCRL_Random_Agent/data/other_policies_trajectory_collection/unitree_rl_mjlab"]
	path = /home/bavin/ws/git_repos/OCRL_Random_Agent/data/other_policies_trajectory_collection/unitree_rl_mjlab
	url = https://github.com/unitreerobotics/unitree_rl_mjlab.git
